@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> signInManger;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Contest Advisor</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
       
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark bg-primary">
        <div class="container">
            <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Contest Advisor</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse collapse show" id="navbarColor01" style="">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home<span class="sr-only">(current)</span></a></li>
                    <li class="nav-item active"><a class="nav-link" asp-area="" asp-controller="Contest" asp-action="Contestlist">Contests</a></li>
                    @if (signInManger.IsSignedIn(User))
                    {
                        <li class="nav-item active"> <a href="~/Contest/Add" class="nav-link">Add Contest</a></li>
                        <li class="nav-item active"><a href="~/Contest/UserEvent" class="nav-link">Your Contest</a></li>
                        <li class="nav-item active"><a href="~/Contest/UserPart" class="nav-link">Participer</a></li>

                    }
                    @if(User.IsInRole("Admin"))
                    {
                        <li class="nav-item active"><a href="~/Role" class="nav-link">Roles</a></li>


                    }

                </ul>
                <ul class="navbar-nav justify-content-end" id="navbarColor02">
                    @if (signInManger.IsSignedIn(User))
                    {
                        
                        <li class="nav-item active"><a href="~/Acount/LogOut" class="nav-link">Wyloguj  @User.Identity.Name</a></li>

                    }
                   
                    else
                    {

                        <li class="nav-item active"><a class="nav-link" asp-area="" asp-controller="Acount" asp-action="Register">Register</a></li>
                        <li class="nav-item active"><a class="nav-link" asp-area="" asp-controller="Acount" asp-action="Login">Zaloguj</a></li>
                    }

                </ul>
            </div>
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2019 - ContestAdvisor</p>
        </footer>
    </div>

    

    @RenderSection("Scripts", required: false)
    <script src="~/lib/bootstrap/dist/js/jquery-3.4.1.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/popper.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>